<% if  current_admin %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_admin.email %>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <li><%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item"%></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
       </li>          
    </ul>
  </li>
<% end %>
