<div id="<%= dom_id cancellation %>">
  <p>
    <strong>Reason:</strong>
    <%= cancellation.reason %>
  </p>

  <p>
    <strong>Cancelled at:</strong>
    <%= cancellation.cancelled_at %>
  </p>

</div>
