<h1>Editing cancellation</h1>

<%= render "form", cancellation: @cancellation %>

<br>

<div>
  <%= link_to "Show this cancellation", @cancellation %> |
  <%= link_to "Back to cancellations", cancellations_path %>
</div>
