<p style="color: green"><%= notice %></p>

<h1>Search bookings </h1>
<%= render 'cancellations/form_search' %>

<% if @reservation.present? %>
  <%= render 'cancellations/form', { reservation: @reservation, cancellation: @cancellation } %>
<% end %>

