<h1>New user</h1>

<%= render "form", user: @user %>

<br>

<h1>Listing users</h1>
<div id="users">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">sign_in_count</th>
      <th scope="col">last_sign_in_at</th>
      <th scope="col">Roles</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
     <%= render 'management_users/user', user: user %>
  <% end %>
  </tbody>
</div>

