<p style="color: green"><%= notice %></p>
<%= render 'shared/hotel_info', hotel: @hotel %>

<h3>Create room</h3>
<%= render "form", room: @room %>

<h3>Listing hotels</h3>
<div id="users">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Room type</th>
      <th scope="col">Rom number</th>
      <th scope="col">Room Max Occupancy</th>
      <th scope="col">Max Adults Allowed</th>
      <th scope="col">Max Children Allowed</th>
      <th scope="col">Room price</th>
      <th scope="col">Available</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @rooms.each do |room| %>
    <%= render room, hotel: @hotel %>
  <% end %>
  </tbody>
</div>

